@model IEnumerable<TeamCatHotel.Models.ProductoProveedor>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idProductoProveedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producto.idProducto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idProductoProveedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.idProducto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idProductoProveedor">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.idProductoProveedor">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.idProductoProveedor">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
