@model TeamCatHotel.Models.Cliente

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cliente</h4>
       
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.apellidos)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.apellidos)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.codigoPostal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.codigoPostal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.correoElectronico)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.correoElectronico)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.direccion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.direccion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.localidad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.localidad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.nif)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nif)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.pais)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.pais)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.provincia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.provincia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.numeroTarjeta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.numeroTarjeta)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="vistaDatosReserva" asp-controller="Reservas" asp-route-id="@Model.idPersona">Hacer Reserva</a> |
    <a asp-action="Edit" asp-route-id="@Model.idPersona">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
