@model TeamCatHotel.Models.Factura

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Factura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.abono)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.abono)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.fechaEmision)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.fechaEmision)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.fechaPago)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.fechaPago)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.idFactura">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
